# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# EC2 key (private key must never be committed)
terraform/my-key

# Lambda build artifacts
terraform/lambda/function.zip
__pycache__/
*.pyc

# OS / editor stuff
.DS_Store

# Secrets (extra safety)
.env
*.pem
*.key
*.p12
*.csv
# AWS CLI installer
awscliv2.zip
terraform.zip
